
body {
  background-color: rgb(245, 240, 240);
}

h1 {
  color: rgb(5, 5, 5);
  margin-left: 20px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #eba020;
}

ul li {
  float: left;
}

ul li a {
  display: block;
  color: rgb(3, 3, 3);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul li a:hover {
  background-color: #f8f4f4;
}

img {
  display: block;
  margin: left;
  width: ; 20px
}

text { 40px
}